.login {
  background-color: #f7f8f6;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

/* 


#F9F7F6
#95BCD8
#948CFB
#C05288
#000000


#f7f8f6
#f5ae89
#ae4b94
#b884be
#050001

#EFD3B5
#5F093D
#B21368
#D67BA8 */
