.slider {
  max-width: 100vw;
  height: 60vh;
  color: #f7f8f6;
  margin: 0 5vw;
  border-radius: 5%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sliderimage {
  margin: 0 auto; /* Center image horizontally */
  max-width: 100%; /* Your custom width */
  max-height: 300px; /* Maintain aspect ratio */
  display: block; /* Ensure max width */
  border-radius: 5% 5% 0 0;
}
.slider__text {
  width: 90%;
  margin: auto;
  font-size: 1rem;
}
.slider__buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
