form {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  width: 100%;
  padding: 16px;
  color: white;
}
.profileButton {
  margin-top: 16px;
}
@media (min-width: 768px) {
  form {
    width: 50%;
    margin-left: 21vw;
  }
}
