body {
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(180deg, #b21368 0%, #5f093d 100%);

  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

@media (min-width: 768px) {
  .App__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
