body {
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(180deg, #b21368 0%, #5f093d 100%);

  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  .App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
